*.elc
*.cp
*.ky
*.pg
*.tp
.depend
evil-autoloads.el
test-results.txt
typescript

/doc/dir
/doc/*.aux
/doc/*.fn
/doc/*.fns
/doc/*.info
/doc/*.log
/doc/*.toc
/doc/*.vr
/doc/*.vrs
/doc/build/*/
!/doc/build/texinfo/evil.texi
*.pyc
!/Cask
!/CHANGES.org
!/CONTRIBUTING.md
!/COPYING
!/doc
!/evil-commands.el
!/evil-command-window.el
!/evil-common.el
!/evil-core.el
!/evil-development.el
!/evil-digraphs.el
!/evil.el
!/evil-ex.el
!/evil-integration.el
!/evil-jumps.el
!/evil-keybindings.el
!/evil-macros.el
!/evil-maps.el
!/evil-pkg.el
!/evil-repeat.el
!/evil-search.el
!/evil-states.el
!/evil-test-helpers.el
!/evil-tests.el
!/evil-types.el
!/evil-vars.el
!/lib
!/Makefile
!/README.md
!/scripts
